{% extends 'base.html' %} 
{% load static %} 
{% block title %}Cart{% endblock title %} 
{% block main %}
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="clearfix" style="margin-top: 30px;">
					<div class="col-md-12">
						<div class="order-summary clearfix">
							<div class="section-title text-center">
								<h3 class="title text-center">Carts Review</h3>
							</div>
							<table class="shopping-cart-table table">
								<thead>
									<tr>
										<th>Product</th>
										<th></th>
										<th class="text-center">Price</th>
										<th class="text-center">Quantity</th>
										<th class="text-center">Total</th>
										<th class="text-right"></th>
									</tr>
								</thead>
								<tbody>
									{% for cart_products in cart_products %}
									<tr>
										<td class="thumb">
											{% if cart_products.product.products_images.first.gallery  %}
											<img src="{{cart_products.product.products_images.first.gallery.url}}" alt="">
											{% else %}
											<img src="{% static "img/thumb-product01.jpg" %}" alt="">
											{% endif %}
										</td>
										<td class="details">
											<a href="#">{{cart_products.product.title}}</a>
											<ul>
												<li><span>Size: XL</span></li>
												<li><span>Color: Camelot</span></li>
											</ul>
										</td>
										<td class="price text-center">
											<strong>$ {{cart_products.product.price}}</strong>
											<br>
											{% if cart_products.product.old_price %}{% endif %}
											<del class="font-weak"><small>$ {{cart_products.product.old_price}}</small></del>
										</td>
										<td class="qty text-center"><input class="input" type="number" value="{{cart_products.quantity}}"></td>
										<td class="total text-center"><strong class="primary-color">$ {{cart_products.quantity_price}}</strong></td>
										<td class="text-right"><button class="main-btn icon-btn"><i class="fa fa-close"></i></button></td>
									</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>SUBTOTAL</th>
										<th colspan="2" class="sub-total">${{cart_total_price}}</th>
									</tr>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>SHIPING</th>
										<td colspan="2">Free Shipping</td>
									</tr>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>TOTAL</th>
										<th colspan="2" class="total">$97.50</th>
									</tr>
								</tfoot>
							</table>
							<div class="pull-right">
								<button class="primary-btn">Place Order</button>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock main %}
{% block extra_scripts %}

{% endblock extra_scripts %}