{% extends 'base.html' %} 
{% load static %} 
{% block title %}Sign In{% endblock title %} 
{% block main %}
  <!-- ============================ COMPONENT SIGN IN   ================================= -->
  <div class="container">
    <div class="d-flex flex-column text-center" style="max-width: 600px; margin: 0 auto;">
      <div class="form-title text-center" style="margin: 50px;">
        <h4 class="title0">Sign In</h4>
      </div>
      <form  id="form" method="POST">
        {% csrf_token %}
        <div class="some-error form-group" style="display: none">

        </div>
        <div class="form-group" style="margin-top: 15px;">
          <input type="text" name="username" placeholder="Username Or Email" id="id_username" class="form-control" required/>
        </div>

        <div class="username-error form-group" style="display: none">

        </div>

        <div class="form-group eye-add" style="margin-top: 15px;">
          <input type="password" name="password" placeholder="Password" id="id_password" class="form-control" required/>
            <span class="text-muted eye-add-style" id="showHide">
            <i class="fas fa-eye-slash fa-lg me-3 fa-fw text-info" id="icon"></i></span>
        </div>

        <div class="form-group" style="margin-top: 15px; display: flex; justify-content: space-between;">
          <span  class="text-muted" style="padding: 8px;"> <a href="{% url "forgotpassword" %}" class="text-info text-decoration-none">Reset Password</a> </span>
            <span  class="text-muted" style="padding: 8px;"> <a href="{% url "signup" %}" class="text-info text-decoration-none">Sign Up</a> </span>
        </div>

        <div class="form-group" style="margin-top: 15px;">
          <button  type="button" class="btn btn-info btn-lg form-control" id="signBtn">Sign In</button>
        </div>
      </form>
      
      <div class="text-center text-muted delimiter">or use a social network</div>
      <div class="d-flex justify-content-center social-buttons m-2">
        <button type="button" class="btn btn-info btn-round m-2" data-toggle="tooltip" data-placement="top" title="Twitter">
          <i class="fab fa-twitter"></i>
        </button>
        <button type="button" class="btn btn-info btn-round m-2" data-toggle="tooltip" data-placement="top" title="Facebook">
          <i class="fab fa-facebook"></i>
        </button>
        <button type="button" class="btn btn-info btn-round m-2" data-toggle="tooltip" data-placement="top" title="Linkedin">
          <i class="fab fa-linkedin"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- ============================ COMPONENT SIGN IN  END.// ================================= -->

{% endblock main %}
{% block extra_scripts %}
  <script>
    $(document).ready(function(){
      $('#signBtn').on("click", function(e){
          e.preventDefault()
          let username = $('#form #id_username').val()
          let password = $('#form #id_password').val()
          let csrfmiddlewaretoken = $('#form input[name=csrfmiddlewaretoken]').val();
          let data = new FormData()
          data.append("username", username)
          data.append("password", password)
          data.append("csrfmiddlewaretoken", csrfmiddlewaretoken)
          // Run Ajax
          if(username.length > 0 && password.length > 0){
            $.ajax({
              url:"{% url 'sign' %}",
              method:"POST",
              processData:false,
              contentType:false,
              mimeType:"multipart/form-data",
              data:data,
              dataType:"json",
              success:function(res){		
                if(res.status == 200){
                  window.location.href = "/admin"
                  alertify.success(res.messages)
                } 
                else if(res.status == 201){
                  window.location.href = "{% url 'home' %}"
                  alertify.success(res.messages)
                }                
                else if(res.status == 403){  
                  alertify.error(res.messages)
                }
                else{
                  if(res.status == 400){
                    alertify.error(res.messages)
                  }
                }
              },
            });
          }
          else{
            if(username == ""){
              alertify.error('Please fill up your username or email')
            }
            if(password == ""){
              alertify.error('Please fill up your password')
            }
          }
      });

      $( "#id_username" ).on( "keyup", function(e){
        e.preventDefault();
        const username = e.currentTarget.value;
        if(username.length > 0){
          $.ajax({
            url:"{% url 'loginusernamevalidation' %}",
            method:"POST",
            data: JSON.stringify({username:username}),
            dataType:"json",
            success:function(res){	
              if(res.username_error){
                $("#id_username").addClass("is-invalid");
                $(".username-error").html(res.username_error);
                $(".username-error").css("display", "block");
                $("#signBtn").attr('disabled', true);
              }
              else{
                if(res.username_valid){
                  $("#id_username").removeClass("is-invalid");
                  $("#id_username").addClass("is-valid");
                  $(".username-error").css("display", "none");
                  $("#signBtn").attr('disabled', false);
                }
              } 
            },
          });
        }
      });
  }); 
  </script>
{% endblock extra_scripts %}